<div class="backdrop product-backdrop" id="product-backdrop">
  <div class="modal product-modal">
    <button type="button" class="modal-close-btn">
      <svg class="modal-close-btn-svg" width="32" height="32">
        <use href="../img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="product-modal" data-id="">
      <div class="product-gallery">
        <img src="" class="main-img" alt="Product image" />
        <div class="thumb-list">
          <img src="" class="thumb" alt="Preview image" />
          <img src="" class="thumb" alt="Preview image" />
        </div>
      </div>

      <div class="product-info">
        <h2 class="product-title">Назва</h2>
        <p class="category">Категорія</p>
        <p class="price">Ціна</p>
        <div class="rating large star-icon value-1 half color-default label-top">
        <div class="star-container">
            <div class="star">
              <i class="star-empty"></i>
              <i class="star-half"></i>
              <i class="star-filled"></i>
            </div>
            <div class="star">
              <i class="star-empty"></i>
              <i class="star-half"></i>
              <i class="star-filled"></i>
            </div>
            <div class="star">
              <i class="star-empty"></i>
              <i class="star-half"></i>
              <i class="star-filled"></i>
            </div>
            <div class="star">
              <i class="star-empty"></i>
              <i class="star-half"></i>
              <i class="star-filled"></i>
            </div>
            <div class="star">
              <i class="star-empty"></i>
              <i class="star-half"></i>
              <i class="star-filled"></i>
            </div>
          </div>
        </div>
          <div class="product-colors">
            <p class="label">Колір</p>
            <ul class="color-checkbox-list"></ul>
          </div>
          <div class="description">
            <p class="description-text">Опис</p>
            <p class="sizes">Розміри:</p>
          </div>
          <button class="order-btn" data-id="">
            Перейти до замовлення
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
